*{
    box-sizing: border-box;
    font-family: "font";
}
body{
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: "font";
    src: url(Roboto-Light.ttf);
}

h1{
    text-align: center;
    margin-top: 134px;
    color: #43484D;
}
.main{
    display: flex;
    justify-items: center;
    align-items: center;
}
.white1,.white2,.white3{
    width: 296.55px;
    height: 354.21px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-top: 43px;
}
.white1{
    margin-left: 290px;
}
.white2,.white3{
    margin-left: 17px;
}
/*white box 1*/
.h3_1{
    text-align: center;
    line-height: 31.3px;
    font-size: 26.36px;
    color: #43484D;
    line-height: 31.3px;
    margin-top: 40px;
}
.text1{
    margin-bottom: 4px;
    color: #86939E;
    text-align: center;
    font-size: 13.18px;
}
.text{
    color: #86939E;
    text-align: center;
    font-size: 13.18px;
}
hr{
    color: #E1E8EE;
    opacity: 0.3;
    
}
.box{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
}
.green{
    font-size: 42.83px;
    color: #7DC855;
    margin-left: 28px;
}
.p2{
    margin-left: 15px;
    font-size: 11.53px;
}
button{
    width: 247.12px;
    height: 49.42px;
    background-color: #7DC855;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    position: absolute;
    top: 0;
    margin-top: 525px;
    margin-left: 17px;
}
/*white box 1 dasasruli*/

/*white box 2*/
img{
    float: right;
}
.white2{
    border: 1.65px solid #358ED736;
}
.h3_2{
    text-align: center;
    font-size: 26.36px;
    color: #43484D;
    line-height: 31.3px;
    margin-top: 40px;
    margin-left: 20px;
}
.evro{
    margin-left: 28px;
    font-size: 22.24px;
}
.number{
    font-size: 47.78px;
}
/*white box 2 dasasruli*/

/*white box 3*/

/*white box 3 dasasruli*/